body, html {
    background-color: palegoldenrod;
    font-family: sans-serif;
    margin: 0;
}

div.container{
    display: grid;
    grid-template-columns: 8fr 2fr;
    height: 100vh;
}
/* div.aside, div.main{
    border: 1px solid;
} */

.line-container {
    display: flex;
    align-items: center;
    align-items: center;
    /* border: 1px solid; */
}

.col {
    margin: 0 5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea {
    height: 200px;
    resize: none;
    border: 5px solid;
    border-radius: 9px;
}

#btRemoveMechanism {
    /* background-color: blue; */
    color: red;
}

#punitive-adult-div,
#punitive-adult-div>textarea {
    color: red;
}

#vulnerable-child-div,
#vulnerable-child-div>textarea {
    color: blue;
}

#cope-mechanism-div textarea {
    color: darkred;
}

#coping-line>textarea {
    color: red;
}

.green,
.green textarea,
.green h3 {
    color: green;
}

.arrow {
    font-size: xx-large;
}

#coping-line {
    margin-left: 219px;
}

select {
    font-size: large;
    color: darkred;
    font-weight: bold;
    margin-top: 18px;
    margin-bottom: 18px;
}

.hide {
    visibility: hidden;
}

/* aside */
table,th, td{
    border: 1px solid;
    border-collapse: collapse;
    padding: 3px;
}
